.resorve {
  background-color: #97bf11;
  border-radius: 25px;
}

.ReserveBtn {
  background-color: #97bf11;
  border: 0;
}

.detail-doctor {
  width: 50vw;
  height: 70vh
}

@media only screen and (max-width: 600px){
  .detail-doctor{
    width: 40vw;
    height: 65vw;
  }
  
}